.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
.section-title{
    font-size: 55px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    z-index: 1;
    &_white{
        color: #fff;
    }
    &_black{
        color: #000;
    }
}