@media (max-width: 991px) {
    .network{
        &__block{
            h2{
                font-size: 45px;
                span{
                    font-size: 45px;
                }
            }
            span{
                font-size: 22px;
            }
        }
        &__subtitle{
            font-size: 32px;
        }
        &__text{
            font-size: 18px;
        }
    }
}

@media (max-width: 767px) {
    .header{
        &__burger{
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            z-index: 4;
            width: 50px;
            height: 50px;
            border-radius: 25px;
            background-color: #fff;
            // span{
            //     position: absolute;
            //     background-color: #000;
            //     width: 20px;
            //     height: 2px;
            //     left: 50%;
            //     top: 50%;
            //     transform: translate(-50%, 0px);
            // }
            &:before,&:after{
                content: '';
                background-color: #000;
                height: 2px;
                width: 20px;
                position: absolute;
                left: 50%;
                // top: 50%;
                transform: translate(-50%, 0px);
                transition: all 0.4s ease 0s;
            }
            &:before{
                top: 40%;
            }
            &:after{
                bottom: 35%;
            }
            span{
                position: absolute;
                width: 20px;
                height: 2px;
                background-color: #000;
                left: 50%;
                top: 50%;
                transform: translate(-50%, 0px);
                transition: all 0.4s ease 0s;
            }
            &_active{
                &:before{
                    transform: rotate(225deg);
                    top: 45%;
                    
                }
                &:after{
                    transform: rotate(-225deg);
                    bottom: 50%;
                }
                &:before, &::after{
                    left: 40%;
                }
                span{
                    transform: scale(0);
                }
            }
        }
        
        &__phone{
            display: none;
            &_mobile{
                display: block;
                padding: 0 0 0 25px;
                margin-top: 15px;
                &:hover{
                    color: $primary-color;
                }
            }
        }
        &__menu{
            position: fixed;
            top: 0;
            // left: 0;
            right: -100%;
            width: 100%;
            height: 100%;
            background-color: #fff;
            transition: all 0.4s ease 0s;
            padding: 80px 0;
            &_active{
                right: 0;
            }
            ul{
                flex-direction: column;
                align-items: flex-start;
                li{
                    width: 100%;
                    border-top: 1px solid rgba(217, 217, 217, 0.3);
                    &:last-child{
                        border-bottom: 1px solid rgba(217, 217, 217, 0.3); 
                    }
                    a{
                        color: #000;
                    }
                }
            }
        }
        .logo{
            background-color: #fff;
            color: #000;
        }
    }
    .network{
        &__img{
            img{
                width: 100%;
            }
        }
        &__subtitle{
            text-align: center;
        }
        &__text{
            text-align: center;
            margin-bottom: 20px;
        }
        
    }
    .section-title{
        font-size: 42px;
    }
}

@media (max-width: 576px){
    .network{
        &__block{
            align-items: center;
        }
        &__img{
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 70%;
            }
        }
        &__btn{
            button{
                padding: 12px 30px;
                font-size: 22px;
            }
        }
    }
    @media (max-width: 470px) {
        .section-title{
            font-size: 36px;
        }
    }
}