.comments{
    // height: 2000px;
    position: relative;
    padding: 50px 0 0 0;
    margin-top: -1px;
    // &__divider{
    //     width: 100%;
    //     height: 50px;
    //     background-color: #000;
    //     transform: rotateX(20deg);
    // }
    
    &__bg{
        background: linear-gradient( rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.6) ), url('/dist/img/comments/comments-bg.webp');
        background-repeat: no-repeat;
        height: 100%;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        background-position: 50% 50%;
        background-attachment: fixed;
        // &_white{
        //     background: linear-gradient( rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.6) ), url('/dist/img/comments/comments-bg.webp');
        // }
        // &_black{
        //     background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6) ), url('/dist/img/comments/comments-bg.webp');
        // }
    }
    .test-comment{
        background-color: rgba(255,255,255, 0.67);
        img{
            border-radius: 6px;
            cursor: pointer;
            position: relative;
            z-index: 3;
            max-width: 100%;
            height: auto;
            &:hover{
                background: rgba(0,0,0,0.4);
            }
        }
        &__block{
            position: relative;
            z-index: 2;
           
        }
        &__img-block{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__btn{
            position: relative;
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: center;
            button{
                font-size: 18px;
                font-weight: 700;
                color: #fff;
                background-color: #000;
                box-shadow: 0 5px 15px 0 $primary-color;
                border: none;
                border-radius: 5px;
                padding: 16px 50px;
                text-transform: uppercase;
                margin-bottom: 100px;
            }
        }
    }
    .feedback{
        padding: 100px 0 50px 0;
        position: relative;
        z-index: 5;
        background-color: rgba(0,0,0,.8);
        &__wrapper{
            width: 100%;
            height: 600px;
            background-color: #fff;
            padding: 60px 120px;
            position: relative;
        }
        &__slider-item{
          
                img{
                    max-width: 100%;
                    height: auto;
                }
            
        }
        h3{
            font-size: 26px;
            font-weight: 700;
            color: #000;
            text-transform: uppercase;
            text-align: center;
            margin-top: 30px;
        }
        &__text{
            display: block;
            font-size: 17px;
            font-weight: 400;
            color: #000;
            text-align: center;
        }
        &__info{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__name, &__date{
            color: rgb(159, 159, 159);
            font-size: 15px;
            font-weight: 400;
        }
        &__stars{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                margin-right: 10px;
            }
        }
        &__btn{
            display: block;
            font-size: 17px;
            font-weight: 700;
            color: #000;
            text-transform: uppercase;
            text-align: center;
            padding: 16px 50px;
            background-color: $primary-color;
            box-shadow: 0 5px 15px 0 rgb(255,182,0);
            transition: .5s;
            border: none;
            border-radius: 5px;
            margin: 0 auto;
        }
        .button-prev, .button-next{
            height: 45px;
            width: 45px;
            background-repeat: no-repeat;
            position: absolute;
            top: 50%;
            cursor: pointer;
        }
        .button-prev{
            background: url('/dist/img/comments/feedback/arrow-prev.svg');
            left: 0;
            margin: 0 0 0 10px;
        }
        .button-next{
            background: url('/dist/img/comments/feedback/arrow-next.svg');
            right: 0;
            margin: 0 10px 0 0;
            
        }
    }
    
    .zoom-img{
        &__wrapper{
            display: none;
        }
    }
    
}